out
out/*
*.iml
.gradle
.gradle/*
gradle/*
.idea
.idea/*
build
build/*
target
target/*
*.swp
__MACOSX
.DS_Store
gradlew
gradlew.bat
*.classpath
*.project
catalina.base_IS_UNDEFINED
catalina.base_IS_UNDEFINED/*
